<div class="wrapper">
  <cdk-virtual-scroll-viewport class="scrollview" itemSize="messages.length">
    <div class="conversation">
      <app-chat-message
        *ngFor="let message of messages"
        [message]="message"
        class="message"
      >
      </app-chat-message>
    </div>
  </cdk-virtual-scroll-viewport>

  <app-user-typing [usersTyping]="usersTyping"></app-user-typing>

  <div class="input-wrapper">
    <form
      class="messageForm"
      #sendForm="ngForm"
      (keydown)="enterSubmit($event, sendForm.form)"
      (ngSubmit)="sendMessage(sendForm.form)"
    >
      <textarea
        class="messageInput"
        [rows]="inputRows"
        placeholder="Write message here..."
        name="messageInput"
        [(ngModel)]="typedMessage"
        (ngModelChange)="onTyping()"
      ></textarea>
    </form>
    <div class="super-buttons">
      <!-- <div class="button">
        <mat-icon class="icon" matTooltip="Click for gif">gif</mat-icon>
      </div> -->
      <app-fk-button></app-fk-button>
    </div>
  </div>
</div>
