/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: formula;
  src: url("./assets/fonts/formula-font/formula-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: formula;
  src: url("./assets/fonts/formula-font/formula-Bold.ttf");
  font-weight: bold;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: formula, Roboto, "Helvetica Neue", sans-serif;
}
