<mat-card class="page-login">
  <form [formGroup]="loginForm">
    <div class="inner">
      <h1>Du behöver ett chattnamn</h1>
      <!-- <mat-action-list> -->

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Chattnamn</mat-label>
        <input
          matInput
          placeholder="Skriv ditt Chattnamn"
          formControlName="username"
        />
        <mat-icon [ngStyle]="{'background': color, 'width':'25px','height':'25px','border-radius': '50%'}" matSuffix>sports_motorsports</mat-icon>
        
        <!-- <mat-error *ngIf="username.errors?.required">
          Please enter a username
        </mat-error> -->
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="!loginForm.valid"
        class="button"
        color="accent"
        (click)="login()"
      >
        Anslut<!-- {{ loginForm.valid ? "Välkommen " + username.value : "Anslut" }} -->
      </button>
      <!-- </mat-action-list> -->


  <div class="color-picker">
  <div class="summary-info" (click)="toggleColors()">
    <div class="info">
      <p class="style">{{ heading }}</p>
      <p class="style-value"> Välj färg</p>
    </div>

    <div class="circle" [ngStyle]="{'background': color}"></div>
  </div>

  <div *ngIf="show" class="opened">
    <div class="colors">
      <div (click)="changeColor(paint)" *ngFor="let paint of defaultColors" class="circle"
           [ngStyle]="{'background': paint}"></div>
    </div>
  </div>
</div>
</div>
</form>
</mat-card>

