.page-login {
  background-color: #333333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$width: 400px;

.inner {
  width: $width;
  max-width: $width;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100vw;
  height: 100vh;
  display: table-column-group;
  // margin-left: auto;
  // margin-right: auto;

  flex-grow: 1;

  // border-radius: 20px;
  color: lightgray;
  // box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.1),
  // 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.8) !important;
}

.form-field {
  width: 90%;
}

.button {
  flex-grow: 1;
  width: 90%;
  height: 50px;

  font-family: formula;
}

.textName {
  font-weight: bold;
  font-size: 20px;
  font-family: formula;
}

section {
  vertical-align: middle;
  height: 100%;
}
.summary-info {
  flex-grow: 1;
  //width: 90%;
  //min-width: 90%;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  box-sizing: border-box;
}

.info {
  width: calc(100% - 40px);
}

p.style {
  color: #000;
  margin-bottom: 5px;
}

p.style-value {
  color: #595b65;
  font-family: formula;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
}
.color-picker {
  width: 76%;
}
.mat-icon {
  transform: scale(1.2);
  color: black;

}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.opened {
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  max-width: 270px;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
}

.opened:after {
  border: 10px solid transparent;
  border-bottom: 10px solid;
  content: '';
  right: 10px;
  position: absolute;
  top: -20px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  flex: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.circle:nth-child(5n) {
  margin-right: 0;
}

.hex-code {
  display: flex;
  margin-top: 20px;
  
}

.hex-code p {
  width: 50%;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 45px;
}

.g-input {
  border: 1px solid #e8ebed;
  height: 45px;
  border-radius: 5px;
  width: 120px;
}

.hex-code .g-input input {
  border: none;
  width: 100%;
  margin-top: 14px;
  text-transform: uppercase;
  padding: 0 25px;
  outline: none;
  text-align: center;
  letter-spacing: 1.5px;
  color: #595b65;
  box-sizing: border-box;
}