<div class="wrapper">
  <div class="title">Users Online</div>
  <div class="users">
    <div class="user">
      <div class="circle"></div>
      <p class="username">Ogge</p>
    </div>
    <div class="user">
      <div class="circle"></div>
      <p class="username">Fredde</p>
    </div>
    <div class="user">
      <div class="circle"></div>
      <p class="username">Fredde</p>
    </div>
    <div class="user">
      <div class="circle"></div>
      <p class="username">Fredde</p>
    </div>
    <div class="user">
      <div class="circle"></div>
      <p class="username">Fredde</p>
    </div>
  </div>
</div>
