.wrapper {
  height: 100%;
  max-width: 300px;
  min-width: 200px;
  background-color: #222222;
  margin: 0;
  // padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.users {
  color: white;
  margin: 0;

  padding-top: 10px;

  font-size: 18px;
}

.title {
  color: white;

  font-weight: bold;

  text-align: center;

  font-size: 16px;

  padding-top: 20px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-top: 15px;
}

.username {
  margin: 0;
  margin-left: 10px;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 15px;

  // padding: 5px;

  background-color: yellow;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: black;
}
